.todo-wrapper {
  width: 60vmin;
  max-width: 120vmin;
  height: 100vmin;
  margin: 2rem 0;
  background: whitesmoke;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius) var(--border-radius) 5px 5px;

  display: flex;
  flex-flow: column nowrap;
}
